<!doctype html>
<html ng-app="quatroApp">
  <head>
    <link href="style/style.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Quatro Computer</title>
  </head>
  <body>
    <div class="application">
      <h1 class="title">Quatro Computer</h1>

      <div ng-controller="myController">


        <div class="game" ng-class="{ready:true}">
          <div class="header">

            <div class="player-group">
              <div ng-repeat="player in players" class="player">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">{{player.name}}</span>
                  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="player.caption" />
                </div>
              </div>
            </div>

            <div class="control">
            <button type="button" class="btn btn-default" onclick="window.location.reload()">New game</button>
              <div class="current-player" ng-hide="winner">
                <span class="current-player {{currentPlayer.name}}" >{{currentPlayer.caption}} is playing </span>
                <span ng-show="canUndo" ng-click="undoLastTrick()" class="my-button">undo</span>
              </div> 
            </div>

            <div ng-if="winner">
              <span class="winner {{winner.name}}">Winner is {{winner.caption}}</span>
            </div>
            <div>
              <span class="turn-left my-button" ng-click="rotateCam(45)"></span>
              <span class="center my-button" ng-click="rotateCam()"></span>
              <span class="turn-right my-button" ng-click="rotateCam(-45)"></span>
            </div>
          </div>

        </div>
        <div class="loading" ng-class="{loaded:true}">
          Loading ...
        </div>
        

      </div>
      <div id="gl-container" class="plate"></div>
    </div>
  
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/threejs/build/three.min.js"></script>
    <script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="js/quatro.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/TrackballControls.js"></script>
    <script type="text/javascript" src="js/webgl.js"></script>
  </body>
</html>