<!doctype html>
<html ng-app="quatroApp">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>-->
  
  <style>
  .layer {
    padding:15px;
    display:inline-block;
  }

  .cell {
    width:20px;
  }

  .highlight {
    background-color: green;
  }
  </style>

  <div ng-controller="myController">

    <div ng-repeat="X in game.getData()" class="layer">
      <div ng-repeat="Y in X" class="line">
        <input ng-repeat="Z in Y" ng-model="Z.value" class="cell" ng-class="{highlight:Z.highlight}">
      </div>
    </div>
    <button ng-click="checkWinner()">Check</button>
    <button ng-click="cleanMetadata()">Clean</button>
    <button ng-click="reset()">Reset</button>
    <button ng-click="addCube()">Gooo</button>

<div id="gl-container"></div>

  </div>

  
<script src="node_modules/angular/angular.min.js"></script>
  <script src="js/quatro.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
  <script src="node_modules/three/three.min.js"></script>
  <script type="text/javascript" src="js/TrackballControls.js"></script>
  <script type="text/javascript" src="js/webgl.js"></script>
</html>