div.application {
  background-color: #aaaaaa;
  text-align: center;
}

div.player {
  padding:10px 0 10px 0;
  display:block;
}

div.player-group {
  display: inline-block;
  width:250px;
  vertical-align: text-top;
  padding:10px;
}

div.control {
  width:270px;
  display: inline-block;
  vertical-align: text-top;
  padding:10px;
}

div.header {
  text-align: center;
}

h1.title {
  display:block;
  width:100%;
  text-align:center;
  font-size: 72px;
  margin: 0px;
  padding: 30px 0 40px 0;
  font-weight:bold;
}

div.current-player {
  margin: 30px 0 0 0;
}

.game {
  display:none;
}

div.ready {
  display:block;
}

div.loaded {
  display:none;
}

.loading {
  height:700px;
  font-size:20px;
  text-align: center;
}

span.undo {
  cursor:pointer;
  margin-left: 20px;
  border: 5px #555555 inset;
  background-color: #01DF01;

  padding: 10px;

  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
  border-radius: 190px;
}

span.undo:hover {
  background-color: #81F781;
}

span.current-player {
  width: 190px;
  height: 190px;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=83)";
  filter: alpha(opacity=83);
  -moz-opacity: 0.83;
  -khtml-opacity: 0.83;
  opacity: 0.83;
  border: 5px #555555 inset;

  padding: 10px;

  -webkit-border-radius: 190px;
  -moz-border-radius: 190px;
  border-radius: 190px;

  -moz-box-shadow: -15px 15px 5px 0px #888888;
  -webkit-box-shadow: -15px 15px 5px 0px #888888;
  box-shadow: -15px 15px 5px 0px #888888;
}

  .layer {
    padding:15px;
    display:inline-block;
  }

  .cell {
    width:20px;
  }

  .highlight {
    background-color: green;
  }

  .winner {
    display:inline-block;
    font-size:32px;
    padding:10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  .Player1 {
    background-image:url('../img/texture1.jpg');
  }

  .Player2 {
    background-image:url('../img/texture2.jpg');
  }

  .plate {
    width:700px;
    height:500px;
    display:inline-block;
  }

  span.my-button {
    cursor:pointer;
    display: inline-block;
    padding:5px;

    background-color: #dddddd;

    height:34px;

    border: 2px #555555;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    margin:0px 20px 0px 20px;
  }

  span.my-button:hover {
    background-color: #81F781;
    border: 2px #aaaaaa inset;
  }

  span.turn-left {
    width:34px;
    
    background: #dddddd url('../img/turn-left.png') no-repeat 5px 5px;
  }

  span.turn-right {
    width:34px;
    background: #dddddd url('../img/turn-right.png') no-repeat 5px 5px;
  }

  span.center {
    width:34px;
    background: #dddddd url('../img/center.png') no-repeat 5px 5px;
  }

  